<div class="row">
    <div class="col-md-12">
        <div class="documents-container">
            <div class="row after-box" ng-if="vm.statusDeal === 2">
                <div class="col-md-offset-2" style="margin-top: 20px;">
                    <div class="input-group">
                        <label for="file" class="pointer">{{'Deal.uploadFile'|translate}}
                            <i class="fa fa-plus"></i></label>
                        <input
                                id="file"
                                style="display:none;"
                                type="file"
                                ng-model="vm.fileInfo"
                                name="file"
                                base-sixty-four-input
                                required
                                onload="onLoad;"
                                maxsize="5000"
                                accept=".doc, .docx, .pdf, .tif, .jpg, .jpeg, .gif, .png">

                        <span class="name-choosen-file"
                              ng-show="vm.showFileName"> {{vm.fileInfo.filename}}</span>
                        <button class="btn btn-success btn-sm" ng-show="vm.showFileName" ng-click="vm.addDocument()">
                            {{'Deal.confirmButton'|translate}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="floating-box" ng-repeat="document in vm.documentsShow"
            >
                <img class="document-icon" src="./images/iWord.png" alt="Document file"
                     ng-if="document.documentType === 0 || document.documentType === 1 "
                     ng-click="vm.downloadDocument(document)"
                >
                <img class="document-icon" src="./images/iPdf.png" alt="Pdf file"
                     ng-if="document.documentType === 2"
                     ng-click="vm.openDocument(document.documentId)"
                >
                <img class="document-icon" src="./images/iImage.png" alt="Image file"
                     ng-if="document.documentType === 3 "
                     ng-click="vm.downloadDocument(document)"
                >
                <img class="document-icon" src="./images/iImage.png" alt="Image file"
                     ng-if="document.documentType >= 4 && document.documentType <= 6"
                     ng-click="vm.openDocument(document.documentId)"
                >

                <div style="float: right">
                    <div>
                        <i
                                class="fa fa-download icon-download"
                                ng-click="vm.downloadDocument(document)"
                                uib-tooltip="{{'Deal.download'|translate}}"
                        ></i>
                    </div>
                    <div>
                        <i
                                class="fa fa-edit icon-rename "
                                ng-click="vm.renameDocument(document.documentId)"
                                uib-tooltip="{{'Deal.rename'|translate}}"
                        ></i>
                    </div>
                    <div>
                        <i
                                class="fa fa-remove icon-delete"
                                ng-click="vm.deleteDocument(document.documentId)"
                                uib-tooltip="{{'Deal.delete'|translate}}"
                        ></i>
                    </div>
                </div>
                <span uib-tooltip="{{document.title}}.{{document.extension}}" class="crop" style="display: block;"> {{document.title}}.{{document.extension}}</span>

            </div>
        </div>
    </div>
</div>


