<div class=row>
    <div class="col-md-4 col-lg-4 " align="left">
        <form class="form-inline">
            <div class="form-group">
                <label for="chatName">{{'Chat.title.addNewChat' | translate}}</label>
                <input type="text" id="chatName" ng-model="vm.chatName" class="form-control"
                       placeholder="Type name here ">
            </div>
            <button id="addChat" ng-click="vm.addChat()" ng-disabled="vm.dataLoading" class="btn btn-default" type="submit">{{'Chat.button.add' | translate}}</button>
        </form>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Chats</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="chat in vm.listOfChats track by $index">
                <td>{{chat.chatTitle}}</td>
                <td align="right">

                    <button class="btn btn-sm btn-danger" ng-disabled="!vm.isConnected" ng-show="chat.id==vm.currentChat.id" ng-click="vm.exitChat()">{{'Chat.button.exit' | translate}}</button>
                    &nbsp;
                    <button class="btn btn-sm btn-danger" ng-disabled="!vm.isConnected" ng-click="vm.removeChat(chat.id)">{{'Chat.button.delete' | translate}}</button>
                    &nbsp;
                    <button class="btn btn-sm btn-primary" ng-disabled="vm.dataLoading" ng-click="vm.joinChat(chat)">{{'Chat.button.join' | translate}}</button>
                </td>
            </tr>
            </tbody>
        </table>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Users</th>
                <th></th>
            </tr>
            </thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th></th>
            </tr>
            <tbody>
            <tr ng-repeat="user in vm.users track by $index">
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>
                    <button class="btn btn-sm btn-primary" ng-disabled="(vm.currentChat | json) == '{}'" ng-click="vm.addUserToChat(user.userId)">{{'Chat.button.add' | translate}}</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="col-md-4 col-lg-4" align="center">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{'Chat.title.messages' | translate}}: {{vm.currentChat.chatTitle}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="message in vm.messages track by $index">
                <td> {{message.message}} :{{message.lastName}} {{message.firstName}} {{message.createDate | date: 'HH:mm:ss, dd.MM'}}</td>
            </tr>
            </tbody>
        </table>

        <form id="messageInput" ng-show="(vm.currentChat | json) != '{}'"  class="form-inline">
            <div class="form-group">
                <label for="message">{{'Chat.form.input' | translate}}</label>
                <input type="text" name="message" id="message" ng-model="vm.outMessage.message" class="form-control"
                       placeholder="Type your message ">
            </div>
            <button id="send" class="btn btn-default" ng-disabled="!vm.outMessage.message || vm.outMessage.message === '' || vm.subscription === null" ng-click="vm.sendMessage()" type="submit">{{'Chat.button.send' | translate}}</button>
        </form>
    </div>


    <div class="col-md-4 col-lg-4 " align="right">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{'Chat.title.usersInChat' | translate}}: {{vm.currentChat.chatTitle}}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in vm.usersInChat track by $index">
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>
                    <button class="btn btn-sm btn-danger" ng-disabled="!vm.isConnected" ng-click="vm.removeUserFromChat(user.id)">{{'Chat.button.delete' | translate}}</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>