<div class=row>
    <div class="col-md-4 col-lg-4 chat-col-left" align="left">
        <form class="form-inline">
            <div class="form-group">
                <label for="chatName">{{'Chat.title.addNewChat' | translate}}</label>
                <input type="text" id="chatName" ng-model="vm.chatName" class="form-control"
                       placeholder="Type name here ">
            </div>
            <button id="addChat" ng-click="vm.addChat()" ng-disabled="vm.dataLoading" class="btn btn-default"
                    type="submit">{{'Chat.button.add' | translate}}
            </button>
        </form>


        <h4>Chats</h4>
        <div class="chat-list" ng-repeat="chat in vm.listOfChats track by $index">
            <chat-component current-chat-id="vm.currentChat" chat-data="chat"
                            update-chat-data="vm.updateChatData(chatData)"
                            update-chat-messages="vm.updateChatMessages(messages)"></chat-component>
        </div>


        <h4>Users</h4>
        <div class="chat-list" ng-repeat="user in vm.users track by $index">
            <div class="chat-item" ng-click="vm.addUserToChat(user.userId)">

                <table class="item-table">
                    <tbody>
                    <tr>
                    <td>
                        <user-avatar uuid={{user.lastName}} size="20x20"></user-avatar>
                    </td>
                    <td><span class="title">{{user.lastName}} {{user.firstName}}</span></td>
                    <td><span style="color: #ff4500" class="title">Add</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <h4>{{'Chat.title.usersInChat' | translate}}: {{vm.currentChat.chatTitle}}</h4>
        <div class="chat-list" ng-repeat="user in vm.usersInChat track by $index">
            <div class="chat-item" ng-click="vm.removeUserFromChat(user.userId)">

                <table class="item-table">
                    <tbody>
                    <tr>
                        <td>
                            <user-avatar uuid={{user.lastName}} size="20x20"></user-avatar>
                        </td>
                        <td><span class="title">{{user.lastName}} {{user.firstName}}</span></td>
                        <td><span style="color: #ff4500" class="title">Delete</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="col-md-8 col-lg-8">
        <strong>{{'Chat.title.messages' | translate}}: {{vm.currentChat.chatTitle}}</strong>
        <hr>
        <div class="message-container">
            <message-list data-messages="vm.messages"></message-list>
            <message-form data-chat-data="vm.currentChat"></message-form>
        </div>
    </div>
</div>