.login-background {
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url('../images/background/login.jpg');
  background-size: cover;
  height: 87vh;
}
.registration-background {
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url('../images/background/registration.jpg');
  background-size: cover;
  height: 87vh;
}
.home-background {
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url('../images/background/home.jpg');
  background-size: cover;
  height: 87vh;
}
.default-background {
  background: #EFEBE9;
  background-size: cover;
  height: 87vh;
}
