.floating-box {
  float: left;
  width: 150px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.after-box {
  clear: left;
}
.crop {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 130px;
  cursor: help;
}
.crop.modal-window {
  width: 280px;
  cursor: default;
}
canvas.rotate0 {
  margin: 0 0 0 3.5vw;
}
.app-modal-window .modal-dialog {
  width: 45vw;
}
.deal-rename {
  opacity: 0;
  transition: .5s ease;
}
uib-tab-heading:hover .deal-rename {
  opacity: 1;
}
.without-folder {
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  background-color: #fff;
  height: 100px;
  width: 200px;
  margin: 5vh;
  padding: 30px 10px 0 10px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.spin-by-center {
  position: absolute;
  font-size: 48px;
  left: 50%;
  z-index: 9999;
  color: blue;
}
.icon-rename {
  color: #212121;
}
.icon-delete {
  color: #f00;
  font-size: 16px;
}
.icon-download {
  font-size: 16px;
  color: blue;
}
.document-icon {
  left: 50%;
  cursor: pointer;
}
.add-folder {
  cursor: pointer;
  margin: 0 0 10px 0;
}
.documents-container {
  width: 100%;
  height: 70vh;
}
.name-chosen-file {
  margin: 0 10px 0 10px;
  padding: 0 15px 0 15px;
  border: 1px solid grey;
}
.deal-users-component {
  position: fixed;
  top: 45%;
  transform: translate(0, -50%);
  right: 50px;
  width: 71px;
  height: fit-content;
  padding: 5px;
  border-radius: 5px;
}
.deal-user-card-cont {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.deal-user-card {
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
  background-color: transparent;
}
.remove-user {
  visibility: hidden;
}
.deal-user-card:hover .remove-user {
  visibility: visible !important;
}
.logo-image {
  border: 16px #000000;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.arrowUpDown {
  background-size: cover;
  height: 60px;
}
.arrowUpEnable {
  background-image: url(../images/up.png);
}
.arrowUpDisable {
  background-image: url(../images/upDisable.png);
}
.arrowDownEnable {
  background-image: url(../images/down.png);
}
.arrowDownDisable {
  background-image: url(../images/downDisable.png);
}
.deal-create-users-container {
  display: flex;
  justify-content: center;
}
.deal-create-user-container {
  margin: 6px;
  text-align: center;
}
.arrow-users {
  font-size: 1.2em;
  padding: 30px 10px;
  color: grey;
  transition: color 0.5s, font-size 0.5s;
}
.arrow-users-preview:hover,
.arrow-users-next:hover {
  color: black;
  font-size: 1.5em;
}
