.form-container {
    padding: 10px 20px;
    margin-top: 6vh;
    margin-bottom: 7vh;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
    background-color: #fff;
}

.form-container.login {
    margin-top: 10vh;
}

.entry-card-button {
    margin: 0 0 3% 0;
}

.entry-card-button.login {
    margin: 7% 0 7% 0;
}

h2 {
    text-align: center;
}

.forgot {
    color: black;
}

.forgot:hover {
    color: black;
    font-weight: bold;

}