@dark-primary-color: #00ACC1;
@light-primary-color: #B2EBF2;
@primary-color: #80DEEA;
@text-and-icons: #212121;
@background-modal-window: #EFEBE9;
@main-fonts: "Roboto",Roboto,Roboto, sans-serif;

// for buttons
@accent-color: #00BCD4;
@primary-text: #212121;
@secondary-text: #757575;
@divider-color: #BDBDBD;

