@dark-primary-color: #689F38;
@light-primary-color: #DCEDC8;
@primary-color: #8BC34A;
@text-and-icons: #212121;
@main-fonts: "Helvetica Neue",Helvetica,Arial,sans-serif;

// for buttons
@accent-color: #00BCD4;
@primary-text: #212121;
@secondary-text: #757575;
@divider-color: #BDBDBD;

