<div class="col-md-8 col-md-offset-2">
    <fieldset>
        <legend>
            <h2>{{'Settings.security.password.title' | translate}}</h2>
        </legend>
    </fieldset>
    <div class="row">

        <form name="formPassword" novalidate role="form">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-custom" is-open="vm.isOpened">

                    <uib-accordion-heading>
                        {{'Settings.security.password.title' | translate}}
                        <i class="pull-right fa fa-chevron-down"
                           ng-class="{'open' : vm.isOpened}">
                        </i>
                    </uib-accordion-heading>
                    <div class="form-group"
                         ng-class="{
                                'has-error': formPassword.oldPassword.$invalid && formPassword.oldPassword.$dirty,
                                'has-success': formPassword.oldPassword.$valid}">
                        <label for="oldPassword">{{'Settings.security.form.password' | translate}}</label>
                        <input type="password"
                               class="form-control"
                               name="oldPassword"
                               id="oldPassword"
                               ng-model="vm.securitySettings.oldPassword"
                               ng-minLength="8"
                               ng-maxLength="25"
                               required/>
                        <p class="help-block"
                           ng-if="formPassword.oldPassword.$invalid && formPassword.oldPassword.$dirty">
                            {{'Settings.security.form.errorPassword' | translate}}
                        </p>
                    </div>
                    <div class="form-group"
                         ng-class="{
                                'has-error': formPassword.newPassword.$invalid && formPassword.newPassword.$dirty,
                                'has-success': formPassword.newPassword.$valid}">
                        <label class="required" for="newPassword">{{'Settings.security.form.newPassword' |
                            translate}}</label>
                        <input type="password"
                               class="form-control"
                               name="newPassword"
                               id="newPassword"
                               ng-model="vm.securitySettings.newPassword"
                               ng-minLength="8"
                               ng-maxLength="25"
                               required/>

                        <p class="help-block"
                           ng-if="formPassword.newPassword.$invalid && formPassword.newPassword.$dirty">
                            {{'Settings.security.form.errorPassword' | translate}}
                        </p>
                    </div>
                    <div class="form-group"
                         ng-class="{
                                'has-error': formPassword.confirmPassword.$invalid && formPassword.confirmPassword.$dirty,
                                'has-success': formPassword.confirmPassword.$valid}">
                        <label class="required" for="confirmPassword">{{'Settings.security.form.confirmPassword'
                            |
                            translate}}</label>
                        <input type="password"
                               class="form-control"
                               name="confirmPassword"
                               id="confirmPassword"
                               ng-model="conpassword"
                               ng-minLength="8"
                               ng-maxLength="25"
                               required/>
                        <span ng-show="formPassword.confirmPassword.$invalid && formPassword.confirmPassword.$error.required
                                || formPassword.newPassword.$modelValue !== formPassword.confirmPassword.$modelValue">
                                <span ng-show="formPassword.confirmPassword.$invalid && formPassword.confirmPassword.$error.required && formPassword.confirmPassword.$dirty"
                                      class="help-block">
                                    {{"Settings.security.form.errorPassword"|translate}}
                                </span>
                                <span ng-show="formPassword.newPassword.$modelValue !== formPassword.confirmPassword.$modelValue && !formPassword.confirmPassword.$error.required"
                                      class="help-block">
                                        {{"Settings.security.form.confirmErrorPassword"|translate}}
                                </span>
                            </span>
                    </div>
                    <div>
                        <button ng-click="vm.changePassword()"
                                type="submit"
                                ng-disabled="formPassword.$invalid || formPassword.newPassword.$modelValue !== formPassword.confirmPassword.$modelValue"
                                class="btn btn-success">
                            <span ng-show="!vm.dataLoading">{{"Settings.security.form.btn.saveChanges"|translate}}</span>
                            <span ng-show="vm.dataLoading">{{"Settings.security.form.btn.loading"|translate}}</span>
                            <i ng-show="vm.dataLoading" class="fa fa-spinner fa-pulse"></i>
                        </button>
                    </div>
                </div>
            </uib-accordion>
        </form>
    </div>
</div>