<div class="row">
    <div class="col-md-12 margin-top" style="padding: 0">
        <div class="header-settings-field">
            {{"UserSetting.personal.notification.title"|translate}}
        </div>
    </div>
</div>

<div class="row">
    <form name="matchingSettings" novalidate role="form">


        <div class="card-settings">
            <div class="card-header-settings">
                {{'UserSetting.personal.matching.title' | translate}}
            </div>

            <div class="form-group">
                <label>{{'UserSetting.personal.matching.toggle.label' | translate}}</label><br>
                <toggle-switch
                        ng-model="vm.switchStatus"
                        is-disabled="vm.isEnabledMatching()"
                        on-label="{{'UserSetting.personal.matching.toggle.yes' | translate }}"
                        off-label="{{'UserSetting.personal.matching.toggle.no' | translate }}"
                        class="switch-success"
                        ng-change="vm.changeMatchingVisible()"
                        uib-tooltip="{{'UserSetting.personal.matching.toggle.tip' | translate }}"
                        tooltip-enable="vm.isEnabledMatching()"
                        tooltip-placement="bottom"
                >
                    <toggle-switch>
            </div>
        </div>

    </form>
</div>
