<div class="quiz-area">
    <arrow-back>
    <span class="glyphicon glyphicon-chevron-left arrow-back"
          aria-hidden="true" ng-click="$ctrl.previousPage()"></span>
    </arrow-back>

    <card-question class="card-question">
        <div class="cardContainer">
            <header>
                <h2 style="margin: auto">{{$ctrl.currentQuestion.description}} </h2>

            </header>
            <content>
                <div class="radio" ng-repeat="answer in $ctrl.currentQuestion.answers">
                    <label>
                        <input type="radio"
                               name="answer.description"
                               ng-model="$ctrl.currentAnswer"
                               ng-value="answer.answerId"
                               value="answer.answerId"
                               ng-change='$ctrl.newValue();'>
                        {{answer.description}}
                    </label>
                </div>
                <br>
            </content>
            <footer>
                <div>
                    <ul uib-pagination
                        class="question-pagination"
                        direction-links="false"
                        total-items="$ctrl.totalItems"
                        ng-model="$ctrl.currentPage"
                        ng-change="$ctrl.pageChanged()"
                        items-per-page="$ctrl.itemsPerPage"
                        boundary-link-numbers="true"
                        max-size="4"
                        rotate="true">

                    </ul>
                </div>
            </footer>
            <footer-btn>

                    <button class="btn" ng-click="$ctrl.save()"
                            ng-disabled="$ctrl.disableSubmit">
                        {{"Questions.button.save"|translate}}
                    </button>

            </footer-btn>


        </div>
    </card-question>
    <arrow-next>
        <span class="glyphicon glyphicon-chevron-right arrow-next" aria-hidden="true"
              ng-click="$ctrl.nextPage()"></span>
    </arrow-next>
</div>