<div class="quiz-area">
    <span class="glyphicon glyphicon-chevron-left arrow-back"
          aria-hidden="true" ng-click="vm.previousPage()"></span>

    <div class="card-question">
        <div class="cardContainer">
            <header>
                <h2 style="margin: auto" class="text-center">{{vm.currentQuestion.description}} </h2>

            </header>
            <content>
                <div class="radio" ng-repeat="answer in vm.currentQuestion.answers">
                    <label>
                        <input type="radio"
                               name="answer.description"
                               ng-model="vm.currentAnswer"
                               ng-value="answer.answerId"
                               value="answer.answerId"
                               ng-change='vm.newValue();'>
                        {{answer.description}}
                    </label>
                </div>
                <br>
            </content>
            <footer>
                <div>
                    <ul uib-pagination
                        class="question-pagination"
                        direction-links="false"
                        total-items="vm.totalItems"
                        ng-model="vm.currentPage"
                        ng-change="vm.pageChanged()"
                        items-per-page="vm.itemsPerPage"
                        boundary-link-numbers="true"
                        max-size="4"
                        rotate="true">

                    </ul>
                </div>
            </footer>
            <footer-btn>
                <div>
                    <button class="btn btn-success save-questions" ng-click="vm.save()"
                            ng-disabled="vm.disableSubmit">
                        {{"Questions.button.save"|translate}}
                    </button>
                </div>
            </footer-btn>


        </div>
    </div>
    <span class="glyphicon glyphicon-chevron-right arrow-next" aria-hidden="true" ng-click="vm.nextPage()"></span>
</div>