<div class="container">
    <div class="row">
        <div class="col-md-12 col-md-offset-0 toppad">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div>
                        <h5 class="panel-title"></h5>

                    </div>
                    <div class="row">
                        <div class="col-md-4 text-left panel-title">{{vm.userProfile.firstName}}
                            {{vm.userProfile.lastName}}
                        </div>
                        <div class="col-md-8 text-right">
                            <a class="fa fa-pencil"
                               ui-sref="userSettings"
                               uib-tooltip="{{'UserProfile.edit' | translate}}"
                               tooltip-placement="bottom" style="float: right;"></a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4" align="center">
                            <div class="input-group">
                                <label for="filename">
                                    <img ng-src="{{vm.image}}" height="225px" width="225px"
                                         uib-tooltip={{'UserProfile.click.image'|translate}} tooltip-placement="bottom"
                                         tooltip-class="custom-class">
                                </label>
                                <input ng-show="hide" type="file" ng-model="vm.fileInfo" name="filename" id="filename"
                                       base-sixty-four-input onload="vm.onLoad()" maxsize="500" accept="image/jpeg">
                            </div>
                            <button ng-click="vm.deleteImage()" class="btn btn-primary button-size-font"
                                    ng-disabled="vm.deleteButton">{{'UserProfile.button.deleteImage'|translate}}
                            </button>
                        </div>
                        <div class=" col-md-7 col-lg-7 " style="margin-left: 30px">
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td>{{'UserProfile.birthday' | translate}}</td>
                                    <td>to be implemented</td>
                                </tr>
                                <tr ng-hide="!vm.userProfile.countryId">
                                    <td>{{'UserSettings.form.country' | translate}}</td>
                                    <!--Uncomment bottom fields-->
                                    <!--<td ng-repeat="country in vm.country"-->
                                    <!--ng-if="country.id === vm.userProfile.countryId">{{country.description}}</td>-->
                                    <!--to delete the bottom field when countries are added to SessionStorage/UserProfile-->
                                    <td><span>Israel</span></td>
                                </tr>
                                <tr ng-hide="!vm.userProfile.cityId">
                                    <td>{{'UserProfile.city' | translate}}</td>
                                    <td ng-repeat="city in vm.cities"
                                        ng-if="city.id === vm.userProfile.cityId">{{city.description}}
                                    </td>
                                </tr>
                                <tr ng-hide="!vm.userProfile.genderId">
                                    <td>{{'UserSettings.form.gender' | translate}}</td>
                                    <td ng-repeat="gender in vm.genders"
                                        ng-if="gender.id === vm.userProfile.genderId">{{gender.description}}
                                    </td>
                                </tr>
                                <tr ng-hide="!vm.userProfile.facebookLink || vm.userProfile.facebookLink===''">
                                    <td>{{'UserSettings.form.facebook' | translate}}</td>
                                    <td>{{vm.userProfile.facebookLink}}</td>
                                </tr>
                                <tr ng-hide="!vm.userProfile.profession || vm.userProfile.profession===''">
                                    <td>{{'UserSettings.form.profession' | translate}}</td>
                                    <td>{{vm.userProfile.profession}}</td>
                                </tr>
                                <tr ng-hide="!vm.userProfile.company || vm.userProfile.company===''">
                                    <td>{{'UserSettings.form.company' | translate}}</td>
                                    <td>{{vm.userProfile.company}}</td>
                                </tr>
                                <tr ng-hide="!vm.userProfile.phoneNumber || vm.userProfile.phoneNumber===''">
                                    <td>{{'UserSettings.form.phoneNumber' | translate}}</td>
                                    <td>{{vm.userProfile.phoneNumber}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>