<div class="container">
    <div class="row">
        <div class="col-md-12 col-md-offset-0 toppad">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{vm.userProfile.firstName}} {{vm.userProfile.lastName}} </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 col-lg-4 " align="center">
                            <div class="input-group">
                                <label for="filename">
                                    <img ng-src="{{vm.image}}" height="225px" width="225px"
                                         uib-tooltip={{'UserProfile.click.image'|translate}} tooltip-placement="bottom"
                                         tooltip-class="custom-class">
                                </label>
                                <input ng-show="hide" type="file" ng-model="vm.fileInfo" name="filename" id="filename"
                                       base-sixty-four-input onload="vm.onLoad()" maxsize="500" accept="image/jpeg">
                            </div>
                            <button ng-click="vm.deleteImage()" class="btn btn-primary button-size-font"
                                    ng-disabled="vm.deleteButton">{{'UserProfile.button.deleteImage'|translate}}
                            </button>
                        </div>
                        <div class=" col-md-7 col-lg-7 " style="margin-left: 30px">
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td>{{'UserProfile.birthday' | translate}}</td>
                                    <td>to be implemented</td>
                                </tr>
                                <tr>
                                    <td>{{'UserProfile.city' | translate}}</td>
                                    <td>to be implemented</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>