<div class="quiz-area">
    <span class="glyphicon glyphicon-chevron-left arrow-back"
          aria-hidden="true" ng-click="vm.previousPageButton()"></span>
    <div class="card-question">
        <div class="cardContainer">
            <header>
                <h2 style="margin: auto" class="text-center">{{vm.currentQuestion}}</h2>
            </header>
            <content>
                <div ng-repeat="answ in vm.answersWithIDForCurrentPage ">
                    <label>
                        <input type="checkbox"
                               ng-model="vm.selectedCheckboxes[$index]"
                               ng-true-value="'{{answ.id}}'"
                               ng-change="vm.getValuesOfCheckBox(vm.selectedCheckboxes[$index], answ.id)"
                        >
                        {{answ.answer}}
                    </label>
                </div>
                <br>
                <div style="font-size: 0.9vw" align="center">
                    <label ng-repeat="item in vm.questionImportance" class="radio-inline">
                        <input type="radio" name="optradio"
                               ng-model="vm.variantsOfAnswersImportance"
                               ng-value="item.id">
                        {{item.description}}
                    </label>
                </div>

                <br>
            </content>
            <footer>
                <ul class="question-pagination" uib-pagination total-items="vm.totalItems"
                    direction-links="false"
                    ng-model="vm.currentPage"
                    ng-change="vm.pageChanged()"
                    items-per-page="vm.itemsPerPage"></ul>
            </footer>
            <footer-btn>
                <button class="btn btn-success pull-right" ng-click="vm.save()">
                    {{"Questions.button.save"|translate}}
                </button>
            </footer-btn>
        </div>
    </div>

    <span class="glyphicon glyphicon-chevron-right arrow-next"
          aria-hidden="true"
          ng-click="vm.nextPageButton()"></span>
</div>

