<div class="quiz-area">
    <arrow-back>
        <div class="glyphicon glyphicon-chevron-left arrow-back"
             aria-hidden="true" ng-click="$ctrl.previousPageButton()">
        </div>
    </arrow-back>

    <card-question class="card-question">
        <div class="cardContainer">
            <header>
                <h2>{{$ctrl.currentQuestion}}</h2>
            </header>
            <content>
                <div ng-repeat="answ in $ctrl.answersWithIDForCurrentPage ">
                    <label>
                        <input type="checkbox"
                               ng-model="$ctrl.selectedCheckboxes[$index]"
                               ng-true-value="'{{answ.id}}'"
                               ng-change="$ctrl.getValuesOfCheckBox($ctrl.selectedCheckboxes[$index], answ.id)"
                        >
                        {{answ.answer}}
                    </label>
                </div>

            </content>
            <contentAnswer>
                <label ng-repeat="item in $ctrl.questionImportance" class="radio-inline">
                    <input type="radio" name="optradio"
                           ng-model="$ctrl.variantsOfAnswersImportance"
                           ng-value="item.id">
                    {{item.description}}
                </label>
            </contentAnswer>

            <br>

            <footer>
                <ul class="question-pagination" uib-pagination total-items="$ctrl.totalItems"
                    direction-links="false"
                    ng-model="$ctrl.currentPage"
                    ng-change="$ctrl.pageChanged()"
                    items-per-page="$ctrl.itemsPerPage"></ul>
            </footer>
            <footer-btn>
                <button class="btn" ng-click="$ctrl.save()">
                    {{"Questions.button.save"|translate}}
                </button>
            </footer-btn>
        </div>
    </card-question>

    <arrow-next>
        <div class="glyphicon glyphicon-chevron-right arrow-next"
             aria-hidden="true"
             ng-click="$ctrl.nextPageButton()">
        </div>
    </arrow-next>
</div>

