<div class="margin-top">
    <h2
            style="text-align: center"
            class="title">{{"Questions.extendedQuestions"|translate}}</h2>
    <div class="quiz-area card-question">
        <div class="cardContainer ">
            <div class="radio" ng-repeat="question in $ctrl.listQuestionAnswersResponses">
                <h4 style="text-align: center">{{question.questionDescription}}</h4>
                <span ng-repeat="questioAnswer in $ctrl.listSelectedAnswersResponses | filter : {questionId : question.questionId}">
                    <div ng-repeat="selectedAnswerId in questioAnswer.answersId">
                        {{question.answers[selectedAnswerId]}}
                    </div>
                </span>
                <br>
            </div>
        </div>
    </div>
</div>

