<nav class="navbar navbar-fixed-bottom navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <a ui-sref="about" uib-tooltip="{{'About.title' | translate}}" tooltip-placement="bottom">
                    <span class="fa fa-book header-icon-size"></span>
                    &nbsp;
                    {{'About.title' | translate}}
                </a>
            </li>
            <li>
                <a ui-sref="help" uib-tooltip="{{'Help.title' | translate}}" tooltip-placement="bottom">
                    <span class="fa fa-question header-icon-size"></span>
                    &nbsp;
                    {{'Help.title' | translate}}
                </a>
            </li>
        </ul>
    </div>
</nav>