<div class="container-fluid margin-top">
    <div class="row">
        <div class="col-md-3 col-sm-3 " >
            <div style="position: fixed; width:20%" class="default-card container">
                <h4 class="text-center"><strong>Filter results</strong></h4>
                <user-search-filter-component></user-search-filter-component>
                <br>
                <br>
                <br>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-md-offset-1">
            <user-search-presentation-component></user-search-presentation-component>
        </div>
    </div>
</div>
