.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221,221,221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
    margin-left: -20px;

}
.tooltip.customClass .tooltip-inner {
    color: #880000;
    background-color: #D9EDF7;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.tooltip.customClass .tooltip-arrow {
    display: none;
}
