<div class="col-md-6 col-md-offset-3" style="border: 1px solid lightblue; border-radius: 5px">

    <script type="text/javascript">
        function display_hide(blockId) {
            if ($(blockId).css('display') == 'none')
                $(blockId).animate({height: 'show'}, 500);
            else
                $(blockId).animate({height: 'hide'}, 500);
        }
        $(document).on('click', 'button[type="submit"]', function () {
            $(this).attr({
                'text': 'отправка данных',
                'type': 'button'
            });
        });
    </script>
    <div class="changePassword" style="margin: 20px">
        <a href="" onclick="display_hide('#block_id');return false;"
           style="font-size: 20px;font-size: large; color:black">
            {{'SecuritySettingsPassword.title' | translate}}
        </a>
        <div id="block_id" class="col-md-12" style="margin-top: 15px; margin-bottom: 15px; display: none;">
            <form name="formPassword" novalidate role="form" style="margin-left:-15px">
                <div class="form-group"
                     ng-class="{
                                'has-error': formPassword.oldPassword.$invalid && formPassword.oldPassword.$dirty,
                                'has-success': formPassword.oldPassword.$valid}">
                    <label for="oldPassword">{{'SecuritySettings.form.password' | translate}}</label>
                    <input type="password"
                           class="form-control"
                           name="oldPassword"
                           id="oldPassword"
                           ng-model="vm.securitySettings.oldPassword"
                           ng-minLength="8"
                           ng-maxLength="25"
                           required/>
                    <p class="help-block" ng-if="formPassword.oldPassword.$invalid && formPassword.oldPassword.$dirty">
                        {{'SecuritySettings.form.errorPassword' | translate}}
                    </p>
                </div>
                <div class="form-group"
                     ng-class="{
                                'has-error': formPassword.newPassword.$invalid && formPassword.newPassword.$dirty,
                                'has-success': formPassword.newPassword.$valid}">
                    <label class="required" for="newPassword">{{'SecuritySettings.form.newPassword' |
                        translate}}</label>
                    <input type="password"
                           class="form-control"
                           name="newPassword"
                           id="newPassword"
                           ng-model="vm.securitySettings.newPassword"
                           ng-minLength="8"
                           ng-maxLength="25"
                           required/>

                    <p class="help-block" ng-if="formPassword.newPassword.$invalid && formPassword.newPassword.$dirty">
                        {{'SecuritySettings.form.errorPassword' | translate}}
                    </p>
                </div>
                <div class="form-group"
                     ng-class="{
                                'has-error': formPassword.confirmPassword.$invalid && formPassword.confirmPassword.$dirty,
                                'has-success': formPassword.confirmPassword.$valid}">
                    <label class="required" for="confirmPassword">{{'SecuritySettings.form.confirmPassword' |
                        translate}}</label>
                    <input type="password"
                           class="form-control"
                           name="confirmPassword"
                           id="confirmPassword"
                           ng-model="conpassword"
                           ng-minLength="8"
                           ng-maxLength="25"
                           required/>
                    <span ng-show="formPassword.confirmPassword.$invalid && formPassword.confirmPassword.$error.required
                                || formPassword.newPassword.$modelValue !== formPassword.confirmPassword.$modelValue">
                                <span ng-show="formPassword.confirmPassword.$invalid && formPassword.confirmPassword.$error.required && formPassword.confirmPassword.$dirty"
                                      class="help-block">
                                    {{"SecuritySettings.form.errorPassword"|translate}}
                                </span>
                                <span ng-show="formPassword.newPassword.$modelValue !== formPassword.confirmPassword.$modelValue && !formPassword.confirmPassword.$error.required"
                                      class="help-block">
                                        {{"SecuritySettings.form.confirmErrorPassword"|translate}}
                                </span>
                            </span>
                </div>
                <div>
                    <button ng-click="vm.changePassword()"
                            type="submit"
                            ng-disabled="formPassword.$invalid || formPassword.newPassword.$modelValue !== formPassword.confirmPassword.$modelValue"
                            class="btn btn-primary">
                        <i ng-show="!vm.dataLoading">{{"SecuritySettings.form.btn.saveChanges"|translate}}</i>
                        <i ng-show="vm.dataLoading">{{"SecuritySettings.form.btn.loading"|translate}}</i>
                        <i ng-show="vm.dataLoading" class="fa fa-spinner fa-pulse"></i>
                    </button>

                    <a ui-sref="home" class="btn btn-link">{{"SecuritySettings.form.btn.cancel"|translate}}</a>
                </div>
            </form>
        </div>
    </div>
</div>






