<div class="quiz-area card ">
    <div class="cardContainer">
        <h2 style="text-align: center">{{currentQuestion.description}} </h2>
            <div class="radio" ng-repeat="answer in currentQuestion.answers">
                <label>
                    <input type="radio" name="answer.description"
                           ng-model="$parent.currentAnswer"
                           ng-value="answer.answerId"
                           value="answer.answerId"
                           ng-change='newValue()'
                    >
                    {{answer.description}}
                </label>
            </div>
            <br>
        <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" previous-text = "{{'Questions.button.back'|translate}}" next-text = "{{'Questions.button.next'|translate}}" items-per-page="itemsPerPage"></ul>
        <button class="btn btn-default pull-right" ng-click="save()" ng-disabled="disableSubmit">
            {{"Questions.button.save"|translate}}
        </button>
    </div>
</div>
