<div ng-controller="headerController as vm">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" >Shutaf-In</a>
            </div>
            <ul class="nav navbar-nav">
                <li ng-class="{active : ('home' | includedByState)}">
                    <a ui-sref="home">{{'Home.title' | translate}}</a>
                </li>
                <li ng-class="{active : ('about' | includedByState)}">
                    <a ui-sref="about">{{'About.title' | translate}}</a>
                </li>
                <li ng-class="{active : ('users' | includedByState)}">
                    <a ui-sref="users">{{'Users.title' | translate}}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li uib-dropdown >
                    <a href="#" uib-dropdown-toggle>{{'Header.button.changeLanguage' | translate}} <b class="caret"></b></a>
                    <ul uib-dropdown-menu role="menu" aria-labelledby="split-button">
                        <li role="menuitem"><a class="pointer" ng-click="vm.setLanguageCode('en')" >English</a></li>
                        <li role="menuitem"><a class="pointer" ng-click="vm.setLanguageCode('ru')">Русский</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>