<div ng-controller="headerController as vm">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">{{brand}}</a>
            </div>
            <ul class="nav navbar-nav">
                <li ng-class="{active : ('home' | includedByState)}">
                    <a ui-sref="home">
                        <span class="fa fa-home header-icon-size"></span>
                        {{'Home.title' | translate}}
                    </a>
                </li>
                <li ng-show="vm.sessionService.isAuthenticated()" ng-class="{active : ('about' | includedByState)}">
                    <a ui-sref="about">
                        {{'About.title' | translate}}
                        <span class="fa fa-book header-icon-size"></span>
                    </a>
                </li>

                <li ng-show="vm.sessionService.isAuthenticated()" ng-class="{active : ('userProfile' | includedByState)}">
                    <a ui-sref="userProfile">{{'UserProfile.title' | translate}}</a>
                </li>
                <li ng-show="vm.sessionService.isAuthenticated()" ng-class="{active : ('chat' | includedByState)}">
                    <a ui-sref="chat">{{'Chat.title' | translate}}</a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="vm.sessionService.isAuthenticated()"
                    ng-class="{active : ('registration' | includedByState)}">
                    <a ui-sref="registration">
                        <i class="glyphicon glyphicon-log-in fa-rotate-90" aria-hidden="true"></i>
                        {{'Registration.title' | translate}}
                    </a>
                </li>
                <li ng-hide="vm.sessionService.isAuthenticated()" ng-class="{active : ('login' | includedByState)}">
                    <a ui-sref="login">
                        <span class="glyphicon glyphicon-log-in"></span>
                        {{'Login.title' | translate}}
                    </a>
                </li>
                <li ng-show="vm.sessionService.isAuthenticated()"
                    ng-class="{active : ('settings' | includedByState)}">
                    <a ui-sref="settings">
                        <span class="glyphicon glyphicon-cog"></span>
                        {{'Settings.personal.title' | translate}}
                    </a>
                </li>
                <li ng-show="vm.sessionService.isAuthenticated()" ng-class="{active : ('emailChangeRequest' | includedByState)}">
                    <a ui-sref="changeEmailRequest">
                        <span class="glyphicon glyphicon-cog"></span>
                        {{'Settings.security.email.title' | translate}}
                    </a>
                </li>
                <li ng-show="vm.sessionService.isAuthenticated()" ng-class="{active : ('changePassword' | includedByState)}">
                    <a ui-sref="changePassword">
                        <span class="glyphicon glyphicon-cog"></span>
                        {{'Settings.security.password.title' | translate}}
                    </a>
                </li>


                <li ng-show="vm.sessionService.isAuthenticated()">
                    <a ui-sref="logout">
                        <span class="glyphicon glyphicon-log-out"></span>
                        {{'Logout.button' | translate}}
                    </a>
                </li>


                <li class="divider-vertical"></li>
                <li uib-dropdown>
                    <a href="#" uib-dropdown-toggle>|
                        <span class="fa fa-language header-icon-size" aria-hidden="true"></span>
                        {{'Header.button.changeLanguage' | translate}}
                        <b class="caret"></b>
                    </a>
                    <ul uib-dropdown-menu role="menu" aria-labelledby="split-button">
                        <li role="menuitem" ng-repeat="lang in vm.initialization.languages | filter : {active : 'true'}"><a class="pointer" ng-click="vm.setLanguageCode(lang.description,lang.id)">{{lang.languageNativeName}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>