<div class="modal-header">
    <div class="pull-right">
        <i class="fa fa-times pointer" aria-hidden="true" ng-click="vm.closeModal()"></i>
    </div>
</div>
<div class="modal-body">
    <div class="container-flex">
        <div class="image-div horizontal">
            <div class="vertical">
                <img class="image-style" ng-src="{{vm.currentImage}}"/>
            </div>
        </div>
        <div class="description-div">
            <h3>{{vm.fullName}}</h3>
        </div>
    </div>
</div>
