<div class="container" ng-controller="userProfilePage as vm">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{vm.userProfile.firstName}} {{vm.userProfile.lastName}} </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center">
                            <div class="input-group">
                                <label for="filename">
                                    <img src="{{vm.avatarImage}}" alt="" class="img-responsive"
                                         onmouseover="style='cursor: pointer ' " onmouseout=" style='cursor: auto '"
                                         uib-tooltip="Click to change image!" tooltip-placement="bottom"
                                         tooltip-class="customClass">
                                </label>
                                <input ng-show="hide" type="file" ng-model="vm.fileInfo" name="filename" id="filename"
                                       base-sixty-four-input onload="vm.onLoad" maxsize="500" accept="image/*">
                            </div>
                            <button ng-click="vm.addImage()">ADD</button>
                            <button>GET_ALL</button>
                            <button>delete</button>
                        </div>

                        <div class=" col-md-8 col-lg-8 " style="margin-left: 30px">
                            <table class="table table-user-information">
                                <tbody>

                                <tr>
                                    <td>{{'Profile.birthday' | translate}}</td>
                                    <td>to be implemented</td>
                                </tr>
                                <tr>
                                    <td>{{'Profile.city' | translate}}</td>
                                    <td>to be implemented</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>