<div class="container"  ng-controller="userProfilePage as vm" >

    <div class="container">
        <form name="form">
            <h3>Single File Selection</h3>
            <div class="input-group">
                <label for="filename">
                    <img src="{{vm.avatarImage}}" alt="" class="img-responsive"
                         onmouseover="style='cursor: pointer ' " onmouseout=" style='cursor: auto '"
                         uib-tooltip="Click to change image!" tooltip-placement="bottom"
                         tooltip-class="customClass">
                </label>
                <input ng-show="hide" type="file"  ng-model="vm.infofiles"  name="filename" id="filename" base-sixty-four-input  onload="vm.onLoad" maxsize="500" accept="image/*">
            </div>
            <b>Model Value:</b>
            <!--<table class="table table-bordered table-striped">-->
                <!--<tr>-->
                    <!--<th>filename</th>-->
                    <!--<th>filetype</th>-->
                    <!--<th>filesize (<i><small>KB</small></i>)</th>-->
                    <!--<th>base64</th>-->
                <!--</tr>-->
                <br>
<span ng-model="vm.infofiles" >{{vm.infofiles.filename}}</span>
            <input type="text" ng-model="vm.infofiles.ooo">
<button ng-click="vm.try1()">try</button>
            <!--<input type="file" fileread="uploadme.src" base-sixty-four-input>-->
            <!--<input type="text" ng-model="vm.infofiles.src" base-sixty-four-input>-->


            <!--<tr ng-show="vm.infofiles" ng-model="vm.infofiles">-->
                    <!--<td ng-model="vm.infofiles">{{vm.infofiles.filename}}</td>-->
                    <!--<td>{{vm.infofiles.filetype}}</td>-->
                    <!--<td>{{vm.infofiles.filesize}}</td>-->
                    <!--<td>{{vm.infofiles.base64.substring(0, 30)}}...</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td colspan="4" ng-show="!file">-->
                        <!--<small><i>No file selected.</i></small>-->
                    <!--</td>-->
                <!--</tr>-->
            </table>
            <hr>

        </form>
    </div>



    <!--<div class="row">-->
        <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad" >-->


            <!--<div class="panel panel-info">-->
                <!--<div class="panel-heading">-->
                    <!--<h3 class="panel-title">{{vm.userProfile.firstName}} {{vm.userProfile.lastName}} </h3>-->
                <!--</div>-->
                <!--<div class="panel-body">-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-3 col-lg-3 " align="center"><img alt="User Pic"-->
                                                                            <!--src="https://static.wixstatic.com/media/e133a3_e75eade182b847b981272b95cb7be9e9.jpg"-->
                                                                            <!--class="img-responsive"></div>-->

                        <!--<div class=" col-md-8 col-lg-8 " style="margin-left: 30px">-->
                            <!--<table class="table table-user-information">-->
                                <!--<tbody>-->

                                <!--<tr>-->
                                    <!--<td>{{'Profile.birthday' | translate}}</td>-->
                                    <!--<td>to be implemented</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>{{'Profile.city' | translate}}</td>-->
                                    <!--<td>to be implemented</td>-->
                                <!--</tr>-->
                                <!--</tbody>-->
                            <!--</table>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>