<div class="col-md-6 col-md-offset-3" ng-controller="userSettingsController">
    <h2>{{'UserSettings.title' | translate}}</h2>

    <form name="settingsForm" novalidate role="form">
        <div class="form-group"
             ng-class="{
                    'has-error': settingsForm.firstName.$invalid && settingsForm.firstName.$dirty,
                    'has-success': settingsForm.firstName.$valid }">
            <label for="firstName">{{'UserSettings.form.firstName' | translate}}</label>
            <input
                    class="form-control"
                    name="firstName"
                    id="firstName"
                    ng-model=" vm.accountSettings.firstName"
                    ng-pattern="/^[a-zA-Z\s]*$/"
                    ng-minLength="3"
                    ng-maxLength="50"
                    required/>

            <p class="help-block" ng-if="settingsForm.firstName.$invalid && settingsForm.firstName.$dirty">
                {{'UserSettings.form.firstNameError' | translate}}
            </p>
        </div>

        <div class="form-group"
             ng-class="{
                    'has-error': settingsForm.lastName.$invalid && settingsForm.lastName.$dirty,
                    'has-success': settingsForm.lastName.$valid }">
            <label for="lastName">{{'UserSettings.form.lastName' | translate}}</label>
            <input
                    class="form-control"
                    name="lastName"
                    id="lastName"
                    ng-model=" vm.accountSettings.lastName"
                    ng-pattern="/^[a-zA-Z\s]*$/"
                    ng-minLength="3"
                    ng-maxLength="50"
                    required/>

            <p class="help-block" ng-if="settingsForm.lastName.$invalid && settingsForm.lastName.$dirty">
                {{'UserSettings.form.lastNameError' | translate}}
            </p>
        </div>
        <br/>

        <div class="form-actions">
            <button ng-click="vm.saveNewUserData()"
                    type="submit"
                    ng-disabled="settingsForm.firstName.$invalid || settingsForm.lastName.$invalid"
                    class="btn btn-success pull-right">
                {{'UserSettings.form.button.save' | translate}}
                <i ng-show="vm.dataLoading" class="fa fa-spinner fa-pulse"></i>
            </button>
        </div>
    </form>
</div>