<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 toppad" style="margin-left: 270px">
            <div class="search-results">
                <div class="form-group">
                    <form class="search">
                        <input type="search"
                               id="fullName"
                               ng-model="vm.fullName"
                               ng-maxlength="50"
                               placeholder="{{'Search.request' | translate}}"/>
                        <button type="submit" ng-click="vm.userSearch()" class="btn btn-primary button-size-font">
                            {{"Search.button" | translate}}
                        </button>
                    </form>
                </div>

                <h4> {{'Search.results'|translate}} {{vm.userSearchList.length}} </h4>
                <span ng-show="vm.userSearchList.length==0">
                    {{'Search.notFound'|translate}}
                </span>

                <div class="panel panel-info" ng-repeat="user in vm.userSearchList">
                    <div class="panel-heading">
                        <h4 class="panel-title">{{ user.firstName }} {{ user.lastName }}</h4>
                        <span>{{'UserProfile.compatibility' | translate}}</span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3" align="center">
                                <img ng-src="{{vm.getImage(user)}}"
                                     width="100px"
                                     height="150px"
                                     class="img-responsive pointer">
                            </div>
                            <div class=" col-md-9">
                                <table class="table table-user-information">
                                    <tbody>
                                    <tr ng-if="user.dateOfBirth">
                                        <td>{{'UserProfile.dateOfBirth' | translate}}</td>
                                        <td>{{user.dateOfBirth | date: 'dd / MM / yyyy'}}</td>
                                    </tr>
                                    <tr ng-if="user.genderId">
                                        <td>{{'UserSettings.form.gender' | translate}}</td>
                                        <td ng-repeat="gender in vm.genders"
                                            ng-if="gender.id === user.genderId">{{gender.description}}
                                        </td>
                                    </tr>
                                    <tr ng-if="user.cityId">
                                        <td>{{'UserProfile.city' | translate}}</td>
                                        <td ng-repeat="city in vm.cities"
                                            ng-if="city.id === user.cityId">{{city.description}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="width: 20%" >
    <div class="form-group">
        <label class="label-above-input">Choose age</label>
        <rzslider rz-slider-model="vm.minRangeSlider.minValue" rz-slider-high="vm.minRangeSlider.maxValue" rz-slider-options="vm.minRangeSlider.options"></rzslider>
    </div>
    <div  class="form-group">
        <label>Choose gender</label>
        <select class="form-control" ng-model="vm.searchData.filterGenderId" ng-options="gender.id as gender.description for gender in vm.genders"></select>
    </div>

    <div class="form-group"  append-source ng-if="false"  >
    <label class="label-above-input">Choose country</label>
    <button type="button" class="btn btn-default label-above-input" ng-model="vm.selectedCountry" data-html="1" ng-options="country.id as country.description for country in vm.countries" bs-select>
        Action <span class="caret"></span>
    </button>
</div>


    <!--<div  class="form-group" >-->
        <!--<label>Choose city</label>-->
        <!--<select class="form-control" ng-model="vm.CitiesIds" ng-options="city.id as city.description for city in vm.cities"></select>-->
    <!--</div>-->

    <div class="form-group">
        <label class="label-above-input">Choose city</label>
        <button placement="auto" type="submit" class="btn btn-default label-above-input btn-choose-city" ng-model="vm.searchData.filterCitiesIds"
                placeholder="choose" max-length-html="chhhhoooss"
                data-html="1" bs-options="city.id as city.description for city in vm.cities" data-multiple="1" bs-select>
            Action <span class="caret"></span>
        </button>
    </div>

    <!--style="width: 100%"-->

<button class="btn btn-success pull-left" type="submit" ng-click="vm.doIt()"> {{"UserSettings.btn.submit" | translate}}</button>

</div>