<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 toppad" style="margin-left: 270px">
            <div class="search-results">
                <div class="form-group">
                    <form class="search">
                        <input type="search"
                               id="fullName"
                               ng-model="vm.fullName"
                               ng-maxlength="50"
                               placeholder="{{'Search.request' | translate}}"
                               required
                               onclick="this.select()"/>
                        <button type="submit" ng-click="vm.userSearch()" class="btn btn-primary button-size-font">
                            {{"Search.button" | translate}}
                        </button>
                    </form>
                </div>

                <h4> {{'Search.results'|translate}} {{vm.userSearchList.length}} </h4>
                <span ng-show="vm.userSearchList.length==0">
                    {{'Search.notFound'|translate}}
                </span>

                <div class="panel panel-info" ng-repeat="user in vm.userSearchList">
                    <div class="panel-heading">
                        <h4 class="panel-title">{{ user.firstName }} {{ user.lastName }}</h4>
                        <span>Compatibility, %</span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3" align="center">
                                <img ng-src="{{vm.getImage(user)}}"
                                     width="100px"
                                     height="150px"
                                     class="img-circle img-responsive pointer">
                            </div>
                            <div class=" col-md-9">
                                <table class="table table-user-information">
                                    <tbody>
                                    <tr>
                                        <td>Date of Birth</td>
                                        <td>to be implemented</td>
                                    </tr>
                                    <tr ng-if="user.genderId">
                                        <td>{{'UserSettings.form.gender' | translate}}</td>
                                        <td ng-repeat="gender in vm.genders"
                                            ng-if="gender.id === user.genderId">{{gender.description}}
                                        </td>
                                    </tr>
                                    <tr ng-if="user.cityId">
                                        <td>{{'UserProfile.city' | translate}}</td>
                                        <td ng-repeat="city in vm.cities"
                                            ng-if="city.id === user.cityId">{{city.description}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>