<div class="row">
    <div class="col-md-3 margin-top">
        <div class="row">
            <div class="col-md-12">
                <div class="header-settings-field">
                {{"Settings.title"|translate}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="header-settings-field" active="vm.getCurrentStateName()" vertical="true" type="pills">
                    <div
                          ng-repeat="tab in vm.tabs"
                          index="tab.state"
                          ng-click="vm.selectedTab(tab)">
                        <div class="settings-field">

                                {{tab.title}}

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-9">
        <div class="col-md-12" ui-view></div>
    </div>
</div>
