<div class="deal-users-component">
    <div ng-if="vm.arrows">
        <div class="arrowUpDown"
             ng-class="{arrowUpEnable: vm.arrowUp, arrowUpDisable: !vm.arrowUp}"
             ng-click="vm.upArrow()">
        </div>
    </div>
    <div ng-repeat="user in vm.partUsersInfo">
        <div>
            <!--todo add href to user profile-->
            <div>
                <i class="fa fa-window-close pull-right pointer"
                   uib-popover-html="'{{'Deal.users.button.remove' | translate}}'"
                   popover-placement="left"
                   popover-trigger="'mouseenter'"
                   ng-click="vm.remove(user)"></i>
                <img class="logo-image"
                     uib-popover-html=
                             "'
                              {{user.firstName}} &nbsp; {{user.lastName}}
                            '"
                     popover-placement="left"
                     popover-trigger="'mouseenter'"
                     ng-src="{{vm.getUserImage(user.image)}}"
                     width="60"
                     height="60"/>
            </div>

        </div>
    </div>
    <div ng-if="vm.arrows">
        <div class="arrowUpDown"
             ng-class="{arrowDownEnable: vm.arrowDown, arrowDownDisable: !vm.arrowDown}"
             ng-click="vm.downArrow()"
             disabled="vm.arrowDown">
        </div>
    </div>
</div>