<div ng-show="vm.isLinkValid" class="col-md-4 col-md-offset-4 margin-top">

    <form name="form"  role="form" class="form-container login">
        <h2>{{'ResetPassword.title'|translate}}</h2>
        <div class="form-group"
             ng-class="{
                'has-error': form.password.$dirty && form.password.$invalid }">
            <label class="required" for="password">{{"ResetPassword.form.password"|translate}}</label>
            <input type="password"
                   name="password"
                   id="password"
                   class="form-control"
                   ng-model="vm.password.newPassword"
                   required="required"
                   ng-minLength="8"
                   ng-maxLength="25"/>
            <span ng-show="form.password.$error.required || form.password.$invalid && form.password.$dirty">
            <span ng-show="form.password.$error.required && form.password.$invalid && form.password.$dirty"
                  class="help-block">
                    {{"ResetPassword.form.msg.requiredField"|translate}}
            </span>
            <span ng-show="form.password.$invalid && form.password.$dirty && !form.password.$error.required "
                  class="help-block">
                    {{"ResetPassword.form.msg.shortPassword"|translate}}
            </span>
            </span>
        </div>
        <div class="form-group"
             ng-class="{
                    'has-error': form.confirmPassword.$dirty && form.confirmPassword.$error.required || form.password.$modelValue !== form.confirmPassword.$modelValue && !form.confirmPassword.$error.required}">
            <label class="required" for="confirmPassword">{{"ResetPassword.form.confirmPassword"|translate}}</label>
            <input type="password"
                   name="confirmPassword"
                   id="confirmPassword"
                   class="form-control"
                   ng-model="conpassword"
                   required
                   minlength="8"
                   maxlength="25"/>
            <span ng-show="form.confirmPassword.$invalid && form.confirmPassword.$error.required || form.password.$modelValue !== form.confirmPassword.$modelValue">
                <span ng-show="form.confirmPassword.$invalid && form.confirmPassword.$error.required && form.confirmPassword.$dirty"
                      class="help-block">
                        {{"ResetPassword.form.msg.requiredField"|translate}}
                </span>
                <span ng-show="form.password.$modelValue !== form.confirmPassword.$modelValue && !form.confirmPassword.$error.required"
                      class="help-block">
                            {{"ResetPassword.form.msg.confirmPassword"|translate}}
                </span>
            </span>
        </div>
        <br>
        <div>
            <button ng-click="vm.sendNewPassword()"
                    type="submit"
                    ng-disabled="form.$invalid"
                    class="btn btn-success btn-block entry-card-button">
                {{'ResetPassword.form.btn.save'|translate}}
                <i ng-show="vm.dataLoading" class="fa fa-spinner fa-pulse"></i>
            </button>
        </div>
    </form>
</div>