<div class="chat-item" title="Enter chat" ng-click="updateChat()" ng-style="newMessageCounter>0 ? {'background-color':'#E1E1E1'} : {}">

    <table class="item-table">
        <tbody>
        <tr>

            <th colspan="2">Title: {{chatData.chatTitle}}<i ng-show="newMessageCounter>0" style="color: #ff4500">&nbsp;new: {{newMessageCounter}}</i>
            </th>

        </tr>
        <tr>
            <td id="userPic" align="center">
                <user-avatar uuid={{lastMessage.lastName}} size="20x20"></user-avatar>
            </td>
            <td>
            <span class="title">{{lastMessage.lastName | limitTo:characterLimit/2}}{{lastMessage.lastName.length > characterLimit/2 ? '... ' : ' '}}
                {{lastMessage.firstName | limitTo:characterLimit/2}}{{lastMessage.firstName.length > characterLimit/2 ? '...' : ''}}</span>

                <span class="chip">
                {{lastMessage.message | limitTo:characterLimit}}{{lastMessage.message.length > characterLimit ? '...' : ''}}
            </span>
            </td>
            <td align="right" id="sign">
                <i ng-click="deleteChat()" class="glyphicon glyphicon-remove-circle" title="Delete"></i>
            </td>
        </tr>
        </tbody>
    </table>
</div>


