<div class="search-results" id="search-results">
    <div class="form-group">
        <form class="search">
            <input type="search"
                   id="fullName"
                   ng-model="vm.fullName"
                   ng-maxlength="50"
                   placeholder="{{'Search.request' | translate}}"/>
            <button type="submit" ng-click="vm.userSearch()" class="btn btn-primary btn-sm">
                {{"Search.button" | translate}}
            </button>
        </form>
    </div>

    <h4> {{'Search.results'|translate}} {{vm.userSearchList.length}} </h4>
    <span ng-show="vm.userSearchList.length==0">{{'Search.notFound'|translate}}</span>
    <div infinite-scroll='vm.fetchNewPage()'
         infinite-scroll-distance='0'
         infinite-scroll-parent='true'
         infinite-scroll-disabled='vm.isDisable'
         infinite-scroll-container="'#main-div'">
        <div class="card-custom" ng-repeat="user in vm.userSearchList | orderBy:'-score'">
            <div class="card-header pointer" ng-click="vm.showUserProfilePopup({id:user.userId})">
                <h4 class="panel-title">
                    {{ user.firstName }} {{ user.lastName }}
                </h4>
                <span>{{'UserProfile.compatibility' | translate}} {{user.score}}%</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3" align="center">
                        <user-avatar user-id={{user.userId}} width="100" height="100"></user-avatar>
                    </div>
                    <div class=" col-md-9">
                        <table class="table table-user-information">
                            <tbody>
                            <tr ng-if="user.dateOfBirth">
                                <td>{{'UserProfile.dateOfBirth' | translate}}</td>
                                <td>{{user.dateOfBirth | date: 'dd / MM / yyyy'}}</td>
                            </tr>
                            <tr ng-if="user.genderId">
                                <td>{{'UserSettings.form.gender' | translate}}</td>
                                <td ng-repeat="gender in vm.genders"
                                    ng-if="gender.id === user.genderId">
                                    {{gender.description}}
                                </td>
                            </tr>
                            <tr ng-if="user.cityId">
                                <td>{{'UserProfile.city' | translate}}</td>
                                <td ng-repeat="city in vm.cities"
                                    ng-if="city.id === user.cityId">
                                    {{city.description}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <send-message-directive user="user"></send-message-directive>
                    </div>
                </div>
            </div>
        </div>
        <i ng-show="vm.isLoading" class="fa fa-spinner fa-spin spin-by-center"></i>
    </div>
</div>


