<div class="row">

    <div class="col-md-12">
        <uib-tabset active="activeDeal" vertical="false" type="pills">
            <uib-tab

                    ng-repeat="deal in vm.deals"
                    ng-click="vm.selectedDeal(deal)">
                <uib-tab-heading >
                    {{deal.title}}
                </uib-tab-heading>
            </uib-tab>
        </uib-tabset>

    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12">
        <div ng-if="vm.dealTabClicked">
            <deal-component deal-info="vm.dealInfo" ></deal-component>
        </div>
    </div>
</div>

</div>
