<!--<img src="./images/iImage.png" alt="">-->
<!--<a ng-href="./images/iImage.png" target="_blank">trtrtr</a>-->


<div class="row margin-top" >
    <i ng-show="vm.showLoading" class="fa fa-spinner fa-spin"
       style="position: relative;font-size:36px; top:30vh; left:50%; z-index:9999"></i>
    <div class="col-md-12">
        <uib-tabset active="activeDeal" vertical="false" type="pills">
            <uib-tab

                    ng-repeat="deal in vm.deals"
                    ng-click="vm.selectedDeal(deal)">
                <uib-tab-heading >
                    {{deal.title}}
                </uib-tab-heading>
            </uib-tab>
        </uib-tabset>

    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12">
        <div ng-if="vm.dealTabClicked">
            <deal-component deal-info="vm.dealInfo" ></deal-component>
        </div>
    </div>
</div>

</div>
