<div class="row margin-top">
    <i ng-show="vm.showLoading" class="fa fa-spinner fa-spin spin-by-center"></i>
    <div class="col-md-12" >
        <div class="container" >
            <div class="row">
                <div ng-if="vm.deals.length > 0">
                    <div class="col-md-11" >
                            <uib-tabset active="active"
                                        disable="true"
                                        vertical="false"
                                        type="pills">
                                <uib-tab ng-repeat="deal in vm.deals | orderBy: 'userStatusId'"
                                         ng-click="vm.showSelectedDeal(deal)">
                                    <uib-tab-heading>
                                        <strong>{{deal.title}}</strong> ({{vm.getDealSuffix(deal)}})
                                        <i
                                                class="fa fa-edit deal-rename icon-rename"
                                                ng-click="$event.preventDefault();$event.stopPropagation(); vm.renameDeal(deal)"
                                                uib-tooltip="{{'Deal.rename' | translate}}"
                                        ></i>
                                    </uib-tab-heading>
                                </uib-tab>
                            </uib-tabset>
                    </div>
                    <div class="col-md-1" >
                        <deal-leave-component style="float: right" deal-info="vm.dealInfo"></deal-leave-component>
                    </div>
                </div>
                <div ng-if="vm.deals.length === 0">
                    {{'Deal.deal.no.deals' | translate}}
                </div>
            </div>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12">
        <div ng-if="vm.dealTabClicked">
            <deal-component deal-info="vm.dealInfo"></deal-component>
        </div>
    </div>
</div>
<div ng-if="vm.dealTabClicked && vm.dealInfo.statusId === 2">
    <users-deal-component deal-info="vm.dealInfo"></users-deal-component>
</div>