<div class="col-md-8 col-md-offset-2">

    <form name="form" ng-submit="vm.register()" role="form" class="form-container form-horizontal">
        <h2>{{"Registration.title"|translate}}</h2>
        <div class="form-group form-group-md"
             ng-class="{
                'has-error':  form.firstName.$dirty && !form.firstName.$valid }">

            <label class="required col-sm-4 control-label" style="text-align: center" for="firstName">    <i class="fa fa-user"></i> &nbsp{{"Registration.form.firstName"|translate}}</label>
            <div class="col-sm-7">

            <input type="text"
                   name="firstName"
                   id="firstName"
                   class="form-control "
                   ng-model="vm.registrationData.firstName"
                   required
                   minlength="3"
                   ng-maxlength="50"/>
            <span ng-show="form.firstName.$invalid && form.firstName.$error.required || form.firstName.$dirty && !form.firstName.$valid">
                <span ng-show="form.firstName.$invalid && form.firstName.$error.required && form.firstName.$dirty"
                      class="help-block">
                        {{"Registration.form.msg.requiredFirstName"|translate}}
                </span>
                <span ng-show="form.firstName.$dirty && !form.firstName.$valid &&!form.firstName.$error.required"
                      class="help-block">
                        {{"Registration.form.msg.shortFirstName"|translate}}
                </span>
           </span>
                </div>
        </div>
        <div class="form-group form-group-md"
             ng-class="{
                'has-error': form.lastName.$dirty && form.lastName.$error.required
                    || form.lastName.$dirty && !form.lastName.$valid }">
            <label class="required col-sm-4 control-label" style="text-align: center" for="lastName"><i class="fa fa-user-o"></i> &nbsp{{"Registration.form.lastName"|translate}}</label>
            <div class="col-sm-7">
            <input type="text"
                   name="lastName"
                   id="lastName"
                   class="form-control"
                   ng-model="vm.registrationData.lastName"
                   required
                   minlength="3"
                   maxlength="50"/>
            <span ng-show="form.lastName.$invalid && form.lastName.$error.required || form.lastName.$dirty && !form.lastName.$valid">
              <span ng-show="form.lastName.$invalid && form.lastName.$error.required && form.lastName.$dirty"
                    class="help-block">
                  {{"Registration.form.msg.requiredLastName"|translate}}
              </span>
              <span ng-show="form.lastName.$dirty && !form.lastName.$valid &&!form.lastName.$error.required"
                    class="help-block">
                    {{"Registration.form.msg.shortLastName"|translate}}
              </span>
              </span>
        </div>
        </div>
        <div class="form-group form-group-md"
             ng-class="{
             'has-error': form.email.$dirty && form.email.$error.email || form.email.$dirty && form.email.$invalid}">

            <label class="required col-sm-4 control-label" style="text-align: center" for="email"><i class="fa fa-envelope"></i> &nbsp{{"Registration.form.email"|translate}}</label>
            <div class="col-sm-7">
            <input type="email"
                   name="email"
                   id="email"
                   class="form-control"
                   ng-model="vm.registrationData.email"
                   required
                   maxlength="50"/>
            <span ng-show="form.email.$invalid && form.email.$error.required || form.email.$dirty && form.email.$invalid"
                  class="help-block">
                 <span ng-show="form.email.$invalid && form.email.$error.required && form.email.$dirty"
                       class="help-block">
                        {{"Registration.form.msg.requiredEmail"|translate}}
                 </span>
                <span ng-show="form.email.$dirty && form.email.$invalid && !form.email.$error.required"
                      class="help-block">
                    {{"Registration.form.msg.wrongEmail"|translate}}
                </span>
            </span>
        </div>
        </div>
        <div class="form-group form-group-md"
             ng-class="{
                'has-error': form.password.$dirty && form.password.$invalid }">
            <label class="required col-sm-4 control-label" style="text-align: center" for="password"><i class="fa fa-lock"></i> &nbsp{{"Registration.form.password"|translate}}</label>
            <div class="col-sm-7">
            <input type="password"
                   name="password"
                   id="password"
                   class="form-control"
                   ng-model="vm.registrationData.password"
                   required="required"
                   minlength="8"
                   maxlength="25"/>
            <span ng-show="form.password.$error.required || form.password.$invalid && form.password.$dirty">
            <span ng-show="form.password.$error.required && form.password.$invalid && form.password.$dirty"
                  class="help-block">
                    {{"Registration.form.msg.requiredPassword"|translate}}
            </span>
            <span ng-show="form.password.$invalid && form.password.$dirty && !form.password.$error.required "
                  class="help-block">
                    {{"Registration.form.msg.shortPassword"|translate}}
            </span>
            </span>
        </div>
        </div>
        <div class="form-group form-group-md"
             ng-class="{
                    'has-error': form.confirmPassword.$dirty && form.confirmPassword.$error.required || form.password.$modelValue !== form.confirmPassword.$modelValue && !form.confirmPassword.$error.required}">
            <label class="required col-sm-4 control-label" style="text-align: center" for="confirmPassword"><i class="fa fa-lock"></i> &nbsp{{"Registration.form.confirmPassword"|translate}}</label>
            <div class="col-sm-7">
            <input type="password"
                   name="confirmPassword"
                   id="confirmPassword"
                   class="form-control"
                   ng-model="conpassword"
                   required
                   minlength="8"
                   maxlength="25"/>
            <span ng-show="form.confirmPassword.$invalid && form.confirmPassword.$error.required || form.password.$modelValue !== form.confirmPassword.$modelValue">
                <span ng-show="form.confirmPassword.$invalid && form.confirmPassword.$error.required && form.confirmPassword.$dirty"
                      class="help-block">
                        {{"Registration.form.msg.requiredPassword"|translate}}
                </span>
                <span ng-show="form.password.$modelValue !== form.confirmPassword.$modelValue && !form.confirmPassword.$error.required"
                      class="help-block">
                            {{"Registration.form.msg.confirmPassword"|translate}}
                </span>
            </span>
        </div>
        </div>

        <div>
            <button ng-click="vm.registerUser()"
                    type="submit"
                    ng-disabled="form.$invalid"
                    class="btn btn-success btn-block entry-card-button">
                {{"Registration.form.btn.registration"|translate}}
                <i ng-show="vm.dataLoading" class="fa fa-spinner fa-pulse"></i>
            </button>
        </div>
    </form>
</div>