<div class="quiz-area card " ng-show="inProgress">
    <div class="container123">
    <div ng-show="!quizOver">
        <h2 style="text-align: center" id="question">{{question}}</h2>
        <ul id="options">
            <li ng-repeat="option in options">
                <label>
                    <input type="radio" name="answer" value="{{option}}">
                    {{option}}
                </label>
            </li>
        </ul>
        <!--<button ng-click="checkAnswer()" ng-show="answerMode">Submit</button>-->
        <button ng-click="nextQuestion()" class="btn btn-default">Next</button>

        <!--<div ng-show="!answerMode">-->
            <!--<button ng-click="nextQuestion()" class="btn btn-primary pull-right">Next</button>-->
            <!--&lt;!&ndash;<span ng-show="correctAns">That is correct!</span>&ndash;&gt;-->
            <!--&lt;!&ndash;<span ng-show="!correctAns">Sorry, that is an incorrect answer.</span>&ndash;&gt;-->
        <!--</div>-->
        </div>
    </div>

    <div ng-show="quizOver">
        <h2>Thank you</h2>
        <button  class="btn btn-default" ng-click="reset()">Back</button>
    </div>

    <!--<div id="score">-->
        <!--Score: {{score}}-->
    <!--</div>-->
</div>

<!--<div class="intro" ng-show="!inProgress">-->
    <!--<p>Welcome to the QuizApp</p>-->
    <!--<button id="startQuiz" ng-click="start()">Start the Quiz</button>-->
<!--</div>-->

<!--<div class="card" style="width: 20rem;">-->
    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
    <!--<div class="card-block">-->
        <!--<h4 class="card-title">Card title</h4>-->
        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="card card-inverse" style="background-color: #333; border-color: #333;">-->
    <!--<div class="card-block">-->
        <!--<h3 class="card-title">Special title treatment</h3>-->
        <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="card">-->
    <!--<div class="container">-->
        <!--<h4><b>John Doe</b></h4>-->
        <!--<p>Architect & Engineer</p>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="card">-->
        <!--<h4><b>John Doe</b></h4>-->
        <!--<p>Architect & Engineer</p>-->
    <!--</div>-->
<!--</div>-->