<!--<div class="col-md-6 col-md-offset-3">-->

    <!--<ui-carousel-->
            <!--slides="vm.slides"-->
            <!--slides-to-show="1"-->
            <!--slides-to-scroll="1"-->
            <!--initial-slide="1"-->
            <!--autoplay="false"-->
            <!--dots="true">-->

        <!--<carousel-item>-->
            <!--<h3 >{{ item.firstName}}</h3>-->
            <!--&lt;!&ndash;<div class="card">{{item.firstName}}</div>&ndash;&gt;-->
        <!--</carousel-item>-->


        <!--&lt;!&ndash; For customize carousel next, previous button &ndash;&gt;-->
        <!--<carousel-prev>-->
            <!--&lt;!&ndash; placed your previous button here &ndash;&gt;-->
            <!--<button>Prev</button>-->
            <!--&lt;!&ndash; end &ndash;&gt;-->
        <!--</carousel-prev>-->

        <!--<carousel-next>-->
            <!--&lt;!&ndash; placed your next button here &ndash;&gt;-->
            <!--<button>Next</button>-->
            <!--&lt;!&ndash; end &ndash;&gt;-->
        <!--</carousel-next>-->

    <!--</ui-carousel>-->
<!--</div>-->

<div >
    <h1 style="text-align: center" class="title">Questions</h1>
    <quiz/>
</div>
