<div class="input-group">
    <label for="filename">
        <img
                ng-src="{{vm.image}}"
                height="225px"
                width="225px"
                uib-tooltip="{{'UserProfile.click.image'|translate}}"
                tooltip-enable="vm.isMyProfile"
                tooltip-placement="bottom"
                tooltip-class="custom-class">
    </label>
    <input
            ng-show="hide"
            ng-disabled="!vm.isMyProfile"
            type="file"
            ng-model="vm.fileInfo"
            name="filename"
            id="filename"
            base-sixty-four-input
            do-not-parse-if-oversize
            onload="onLoad;"
            maxsize="{{vm.size}}"
            accept="image/jpeg">
</div>
<button
        ng-click="vm.deleteImage()"
        class="btn btn-primary"
        ng-disabled="vm.deleteButton"
        ng-show="vm.isMyProfile">
    {{'UserProfile.button.deleteImage'|translate}}
</button>