<form name="form" role="form" class="form-container form-horizontal card">
    <h2 class="text-center">
        <strong>
            {{'ResetPassword.title'|translate}}
        </strong>
    </h2>
    <div class="form-group"
         ng-class="{
                'has-error': form.email.$dirty && form.email.$error.email || form.email.$dirty && form.email.$invalid}">
        <div class="col-md-4 col-md-offset-4">
            <input   type="email"
                     class="form-control"
                     maxLength="50"
                     name="email"
                     placeholder="{{'ResetPassword.form.email'|translate}}"

                     id="email"
                     ng-model="vm.resetPasswordEmail.email"
                     required/>

        </div>
        <p class="help-block" ng-if="form.email.$invalid && form.email.$dirty">
            {{'ResetPassword.form.msg.wrongEmail'|translate}}
        </p>
    </div>
    <div class="form-group" >
        <div class="col-md-4 col-md-offset-4">
            <button ng-click="vm.resetPasswordRequest()"
                    type="submit"
                    ng-disabled="form.$invalid"
                    class="btn btn-success btn-block">
                {{'ResetPassword.form.btn.next'|translate}}
                <i class="fa fa-spinner" ng-show="vm.loading"></i>
            </button>
        </div>
    </div>
</form>