<div class="col-md-4 col-md-offset-4 margin-top">
    <form name="form" role="form" class="form-container">
        <h2>{{'ResetPassword.title'|translate}}</h2>
        <div class="form-group"
             ng-class="{
                    'has-error': form.email.$dirty && form.email.$error.email || form.email.$dirty && form.email.$invalid}">
            <label class="required" for="email">{{'ResetPassword.form.email'|translate}}</label>
            <input   type="email"
                     class="form-control"
                     maxLength="50"
                     name="email"

                     id="email"
                     ng-model="vm.resetPasswordEmail.email"
                     required/>

            <p class="help-block" ng-if="form.email.$invalid && form.email.$dirty">
                {{'ResetPassword.form.msg.wrongEmail'|translate}}
            </p>
        </div>
        <div class="form-actions " style="margin: 7% 0 7% 0">
            <button ng-click="vm.resetPasswordRequest()"
                    type="submit"
                    ng-disabled="form.$invalid"
                    class="btn btn-success btn-block entry-card-button">
                {{'ResetPassword.form.btn.next'|translate}}
                <i class="fa fa-spinner fa-pulse" ng-show="vm.loading"></i>
            </button>
        </div>
    </form>
</div>