<div class="col-md-6 col-md-offset-3 margin-top">
    <h2>{{'ResetPassword.title'|translate}}</h2>

    <form name="form" role="form">
        <div class="form-group"
             ng-class="{
                    'has-error': form.email.$dirty && form.email.$error.email || form.email.$dirty && form.email.$invalid}">
            <label class="required" for="email">{{'ResetPassword.form.email'|translate}}</label>
            <input   type="email"
                     class="form-control"
                     maxLength="50"
                     name="email"

                     id="email"
                     ng-model="vm.resetPasswordEmail.email"
                     required/>

            <p class="help-block" ng-if="form.email.$invalid && form.email.$dirty">
                {{'ResetPassword.form.msg.wrongEmail'|translate}}
            </p>
        </div>

        <br/>

        <div class="form-actions">
            <button ng-click="vm.resetPasswordRequest()"
                    type="submit"
                    ng-disabled="form.$invalid"
                    class="btn btn-primary pull-right">
                {{'ResetPassword.form.btn.next'|translate}}
            </button>
        </div>
        <br/>

        <i class="spinnerResetPassword fa fa-spinner fa-pulse fa-3x fa-fw" ng-show="vm.loading"></i>


    </form>
</div>