<div class="chat-list" ng-repeat="user in users track by $index">
    <div class="chat-item user-item">
        <table class="item-table">
            <tbody>
            <tr>
                <td class="userPic">
                    <user-avatar user-id={{user.userId}} width="20" height="20"></user-avatar>
                </td>
                <td><span class="title">{{user.lastName}} {{user.firstName}}</span></td>
                <td class="sign">
                            <span id="send-mess-icon"
                                  ng-attr-title="{{'Chat.title.send.message' | translate}}"
                                  class="fa fa-comment-o" ng-click="createChat(user.userId)"></span>
                    <span id="add-user-icon"
                          ng-attr-title="{{'Chat.title.add.user' | translate}}"
                          class="fa fa-user-plus"
                          ng-click="addNewUserToChat(user.userId)"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="chat-item"
     align="center"
     ng-attr-title="{{'Chat.title.find.users' | translate}}"
     ng-click="changeStateToUserSearch()">
    <span id="find-user-icon" class="fa fa-search-plus"></span>
</div>