<div ng-switch="vm.resolve.type.type">

    <div ng-switch-when="creation">
        <div class="modal-header deal" style="text-align: center ">
            <h3 class="modal-title">{{'Deal.deal.modalWindow.creation.header' | translate: vm.componentData}} </h3>
        </div>
        <div class="modal-body-original" id="modal-body">
            <div>
                <label for="newTabName">
                    {{'Deal.deal.modalWindow.creation.content' | translate: vm.componentData}} :
                </label>
                <div class="crop modal-window"> {{vm.resolve.type.filename}}</div>
            </div>
            <br>
            <input autofocus
                   class="input-modal"
                   ng-model="vm.newTabName"
                   id="newTabName"
                   name="newTabName"
                   ng-keyup="$event.keyCode == 13 &&
                   vm.newTabName !== null &&
                   vm.newTabName !== '' &&
                   vm.ok()">
            <strong ng-if="vm.getFilenameExtension()">
                {{vm.getFilenameExtension()}}
            </strong>
        </div>
        <div class="modal-footer ">
            <button class="btn btn-primary" type="button" ng-click="vm.ok()">
                {{'Deal.deal.modalWindow.ok' | translate}}
            </button>
            <button class="btn btn-warning" type="button" ng-click="vm.cancel()">
                {{'Deal.deal.modalWindow.cancel' | translate}}
            </button>

        </div>
    </div>

    <div ng-switch-when="rename">
        <div class="modal-header deal" style="text-align: center">
            <h3 class="modal-title">{{'Deal.deal.modalWindow.rename.header' | translate: vm.componentData}}</h3>
        </div>
        <div class="modal-body-original">
            <div>
                <label for="newTabName">
                    {{'Deal.deal.modalWindow.rename.content' | translate: vm.componentData}}
                </label>
                {{vm.resolve.type.filename}}
            </div>
            <input autofocus
                   class="input-modal"
                   ng-model="vm.newTabName"
                   name="newTabName"
                   ng-keyup="$event.keyCode == 13 &&
                   vm.newTabName !== null &&
                   vm.newTabName !== '' &&
                   vm.ok()">
            <strong>
                {{vm.getFilenameExtension()}}
            </strong>
        </div>
        <div class="modal-footer ">
            <button class="btn btn-primary" type="button" ng-click="vm.ok()">
                {{'Deal.deal.modalWindow.ok' | translate}}
            </button>
            <button class="btn btn-warning" type="button" ng-click="vm.cancel()">
                {{'Deal.deal.modalWindow.cancel' | translate}}
            </button>
        </div>
    </div>


    <div ng-switch-when="remove">
        <div class="modal-header deal" style="text-align: center">
            <h3 class="modal-title">{{'Deal.deal.modalWindow.remove.header' | translate: vm.componentData}}</h3>
        </div>
        <div class="modal-body-original">
            {{'Deal.deal.modalWindow.remove.content' | translate: vm.componentData}}
        </div>
        <div class="modal-footer ">
            <button
                    class="btn btn-primary"
                    type="button"
                    ng-click="vm.ok()">
                {{'Deal.deal.modalWindow.yes'|translate}}
            </button>
            <button
                    class="btn btn-warning"
                    type="button"
                    ng-click="vm.cancel()">
                {{'Deal.deal.modalWindow.no'| translate}}
            </button>
        </div>
    </div>
</div>